@inherits LayoutComponentBase

<div class="page">
<!--
    <div class="sidebar">
        <NavMenu />
    </div>
     -->
     <header class="header w-screen">
        <div  class="w-screen py-4 text-white">
            <h1 class="">Habit Trainer & Tracker</h1>
        </div>
     </header>

    <main class="block">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
