@inherits LayoutComponentBase

<div class="page">
<!--
    <div class="sidebar">
        <NavMenu />
    </div>
     -->
     <header class="header w-screen w-">
        <div  class="w-full bg-red-400 text-white py-4">
            <h1 class="">Improver++ - Habit Trainer & Tracker</h1>
        </div>
     </header>

    <main class="block ">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
